@{
    ViewData["Title"] = "suaBaladaAqui";
}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="~/img/img1.jpg" class="img-fluid border border-primary rounded-circle img-topo" alt="">
                <br>
                <label class="mx-3">Ladies Party</label>
            </div>
            <div class="col-sm-3 text-center">
                <img src="~/img/img2.jpg" class="img-fluid border border-success rounded-circle img-topo" alt="">
                <br>
                <label class="mx-3">Na Boiada</label>
            </div>
            <div class="col-sm-3 text-center">
                <img src="~/img/img3.jpg" class="img-fluid border border-danger rounded-circle img-topo" alt="">
                <br>
                <label class="mx-3">Noite dos Pinguços</label>
            </div>
            <div class="col-sm-3 text-center">
                <img src="~/img/img4.jpg" class="img-fluid border border-info rounded-circle img-topo" alt="">
                <br>
                <label class="mx-3">Festa Open Bar</label>
            </div> 
        </div>
    </div>
</div>  

@for(var i=0;i<3;i++) {
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <figure class="figure foto-conteudo">
                        <img src="~/img/img1.jpg" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end">
                            <h5 id="festa-nome" class="fs-4 mb-0">Ladies Party</h5>
                                <p class="fs-6 mb-1  ">07/02</p>
                                <p class="fs-6 mb-0">Criciuma</p>
                                <p class="fs-5">Local: Casa de Pedra</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4 text-center border">
                    <figure class="figure foto-conteudo">
                        <img src="~/img/img2.jpg" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end">
                            <h5 id="festa-nome" class="fs-4 mb-0">Ladies Party</h5>
                                <p class="fs-6 mb-1  ">07/02</p>
                                <p class="fs-6 mb-0">Criciuma</p>
                                <p class="fs-5">Local: Casa de Pedra</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4 text-center">
                    <figure class="figure foto-conteudo">
                        <img src="~/img/img3.jpg" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end">
                            <h5 id="festa-nome" class="fs-4 mb-0">Ladies Party</h5>
                                <p class="fs-6 mb-1  ">07/02</p>
                                <p class="fs-6 mb-0">Criciuma</p>
                                <p class="fs-5">Local: Casa de Pedra</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
}

<!--<div class="row mt-5">
    <div class="col-sm-12">
        <div class="row justify-content-sm-center">
            <div class="col-sm-4 text-center">
                <img src="~/img/img1.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Ladies Party</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img2.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Na Boiada</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img3.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Noite dos Pinguços</label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12">
        <div class="row justify-content-sm-center">
            <div class="col-sm-4 text-center">
                <img src="~/img/img1.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Ladies Party</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img2.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Na Boiada</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img3.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Noite dos Pinguços</label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12">
        <div class="row justify-content-sm-center">
            <div class="col-sm-4 text-center">
                <img src="~/img/img1.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Ladies Party</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img2.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Na Boiada</label>
            </div>
            <div class="col-sm-4 text-center">
                <img src="~/img/img3.jpg" height="200" width="300" class="img-fluid rounded" alt="">
                <br>
                <label class="mx-3">Noite dos Pinguços</label>
            </div>
        </div>
    </div>
</div>-->