html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-fluid {
  padding: 0;
}

.img-topo {
  max-width: 60%;
}

.img-main {
  max-width: 75%;
}

.foto-conteudo {
  max-width: 75%;
}

.tamanho-base {
  width: 1140px;
}

#carouselSlides .carousel-inner, #carouselSlides .carousel-item{
  height: 50vh;
}

